.captcha{
    /* width: 100%; */
    
   

}
.captcha_container{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    max-height: 165;
    align-items: center;
    border: 1px solid;
    max-width: 250px;
}
#image{
	margin-top: 10px;
	/* box-shadow: 5px 5px 5px 5px gray; */
	width: 50px;
	padding: 20px;
	font-weight: 400;
	padding-bottom: 0px;
	height: 35px;
	user-select: none;
	text-decoration:line-through;
	font-style: italic;
	font-size: x-large;
	border: rgb(0, 0, 0) 2px solid;
	/* margin-left: 10px; */
    margin-bottom: 15px;
	
}
#user-input{
	box-shadow: 5px 5px 5px 5px gray;
	width:auto;
	margin-right: 10px;
	padding: 10px;
	padding-bottom: 0px;
	height: 40px;
	border: red 0px solid;
    width: 180px;
    /* margin-left: 20px; */
}
input{
	border:1px black solid;
}
.inline{
	display:inline-block;
}
#btn{
	box-shadow: 5px 5px 5px grey;
	color: aqua;
	margin: 10px;
	background-color: brown;
    width: 180px;
}
